<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <base href="{{.Site.BaseURL}}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ block "head" . }}{{ end }}
  {{ $styles := resources.Get "styles/styles.pcss" | toCSS | postCSS | minify }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
  {{ if .Title }}
    <title>{{ .Title }} -  {{ .Site.Title }}</title>
  {{ else }}
    <title>{{ .Site.Title }}</title>
  {{ end }}
  {{ if .Site.GoogleAnalytics }}
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
</head>
<body class="antialiased font-lato">
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ block "scripts" . }}{{ end }}
</body>
</html>