@tailwind base;

@font-face {
  font-family: Lato;
  font-weight: 400;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato;
  font-weight: 600;
  src: url(../fonts/Lato-Semibold.ttf);
}

@font-face {
  font-family: Lato;
  font-weight: 900;
  src: url(../fonts/Lato-Heavy.ttf);
}

@tailwind components;
@tailwind utilities;