<footer>
  <div class="bg-charcoal px-4 py-12 bg-center bg-contain bg-no-repeat text-white" style="background-image: url({{"media/cp.png"|absURL}});">
    <p class="font-black text-xl text-center">Con el apoyo de:</p>
    <div class="grid grid-cols-3 gap-y-12 mt-12">
      <div class="font-black text-center text-lg flex flex-col items-center">
        <p class="bg-tiryan-purple py-1 px-4 leading-none">Directora</p>
        <div class="leading-tight mt-3">
          <p>Diana Salinas</p>
          <p class="font-normal">Líder en investigación</p>
        </div>
      </div>
      <div class="font-black text-center text-lg flex flex-col items-center">
        <p class="bg-tiryan-purple py-1 px-4 leading-none">Coordinadora</p>
        <div class="leading-tight mt-3">
          <p>Ingrid Ramírez</p>
          <p class="font-normal">Periodista</p>
        </div>
      </div>
      <div class="row-span-2 font-black text-center text-lg flex flex-col items-center">
        <p class="bg-tiryan-purple py-1 px-4 leading-none">Investigadores</p>
        <div class="leading-tight mt-3">
          <img class="w-32" src="{{ "media/logo_unisabana.png" | absURL }}" alt="">
          <p class="mt-2">Juan Oviedo</p>
          <p class="font-normal">Periodista</p>
        </div>
      </div>
      <div class="font-black text-center text-lg flex flex-col items-center">
        <p class="bg-tiryan-purple py-1 px-4 leading-none">Diseño</p>
        <div class="leading-tight mt-3">
          <p>Heidy González</p>
          <p class="font-normal">Diseñadora gráfica</p>
        </div>
      </div>
      <div class="font-black text-center text-lg flex flex-col items-center">
        <p class="bg-tiryan-purple py-1 px-4 leading-none">Desarrollo</p>
        <div class="leading-tight mt-3">
          <p>Datasketch</p>
          <p class="font-normal">Desarrollo web y<br>visualizaciones</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-black p-4">
    <div class="flex justify-center divide-x-2 divide-white -mx-4">
      <div class="px-4">
        <img class="w-40" src="{{ "media/logo_cp.png" | absURL }}" alt="">
      </div>
      <div class="px-4 text-white leading-tight text-sm flex flex-col justify-center">
        <p class="text-red-crayola">&copy; Cuestión Pública 2020</p>
        <p>Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>